@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

nav {
  width: 100%;
  height: 80px;
  background-color: #2d0151cc;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-bottom: 0.4px solid rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
}

.logo-container {
  display: flex;
  align-items: center;
  position: absolute;
  left: -30px;
  top: 20%;
  transform: translateY(-50%);
}

.logo {
  border-radius: 30px;
  height: 60px !important;
  width: auto !important;
}

ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 36px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  flex-wrap: nowrap;
  max-width: 100%;
  overflow: hidden;
}

ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #edebee;
  font-family: 'Poppins', sans-serif;
  transition: color 0.3s ease;
  white-space: nowrap;
}

ul li a:hover,
ul li a.active {
  color: #b77ce7;
  padding-bottom: 4px;
}

.nav-login {
  white-space: nowrap;
  padding: 10px 20px;
  background-color: #b77ce7;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.nav-login:hover {
  background-color: #9b5fd6;
}
